<%- include('../partials/header') %>

<table>
  <tbody>
    <th>Name</th>
    <th>Date of Birth</th>
    <tr>
      <td><%= baby.name %></td>
      <td><%= baby.dob %></td>
    </tr>
  </tbody>
</table>

<%- include('../partials/footer') %>
